<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<style media="screen">
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.jumbotron{
  margin-top: 0px;
  margin-bottom: 0px;
}
.jumbotron h1{
  text-align: center;
}


</style>
  </head>
  <body>
    {% include "main/navbarstudent.html" %}
    <br>
    <br>
    <center><h3 style=" margin-bottom: 0px;" class='alert alert-success'>Система за управление на библиотека</h3></center>
    <div class="jumbotron"   style="    margin-bottom: 0px;">
    <h1 class="display-4">Здравейте {{user.first_name}} !</h1>
    <p class="lead">Като читател в нашата билиотека имате достъп до всички книги в нея,можете да получите избраната от Вас,
      можете да видите получените вече от Вас книги и много друго ...!
    </p>
    <hr class="my-4">
    <p>Достъпните за Вас възможности са:</p>
    <div class="options" style="text-align:center">
      <a href="viewissuedbookbystudent" class="btn btn-primary btn-lg active" style="border-radius: 0%;" role="button" aria-pressed="true">Виж получените книги</a><br><br>
        </div>

    </div>


    {% include "main/footer.html" %}
  </body>
</html>
